<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoCare</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <img src="asset/carepy_logo-1.svg" alt="">
            <ul>
                <li><a href="#" class="active"><b>Admin</b></a></li>
                <li><a href="signlog.html" class="active"><b>User</b></a></li>
                <li><a href="mechlog.html"><b>Mechnic</b></a></li>
                <li><a href="#contact-loc"><b>Contact</b></a></li>
            </ul>
            <div class="search">
                <input type="text" placeholder="search">
                <i class="ri-search-line"></i>
            </div>
        </nav>
        <div class="landing">
            <div class="intro">
                <h3><Span>AutoCare</Span><br>Streamlining Vehicle Service Management System</h3>
                <button>Register</button>
            </div>
            <div class="socials">
                <div class="line"></div>
                <i class="ri-facebook-circle-fill"></i>
                <i class="ri-twitter-fill"></i>
                <i class="ri-linkedin-fill"></i>
                <i class="ri-whatsapp-line"></i>
            </div>
        </div>
    </header>
    <section class="about">
        <h1>About</h1>
        <div class="description">
            <div class="line"></div>
            <br>
            <p>"AutoCare" Streamlining Vehicle Service Management System is web-based technology that brings up various roadside assistance companies online. This application can be incredibly handy when your vehicle breaks down and it’s not possible to repair it on the spot. The service provider will usually assist you to tow it to your preferred location In this application user does not need to register himself/themselves they only fill one form and roadside assistance will be available.
                Roadside assistance is now provided more easily and effectively for car owners in need thanks to AutoCare's web-based technologies. This method puts the needs of the user first and makes sure help is available when needed without requiring lengthy registration procedures.The "AutoCare" Streamlining Vehicle Service Management System is an essential tool for raising customer satisfaction, response times, and the effectiveness of breakdown service providers in a world where accidents can happen at any time. By guaranteeing that breakdown services provide timely and dependable assistance, this strategy helps car owners in need and promotes business expansion and success.The "AutoCare" Streamlining Vehicle Service Management System shows promise for revolutionising the industry and redefining standards for breakdown service management by providing an integrated approach to address the difficulties of vehicle breakdowns.
            </p>
        </div>
    </section>
    <br>
    <br>
    <br>
    <br>
    <section class="skills">
        <h1>Our Services</h1>
        <div class="cards">
            <div class="skill-card">
                <img src="asset/Tow.svg" alt="">
                <h2>Towing</h2>
            </div>
            <div class="skill-card">
                <img src="asset/lock.svg" alt="">
                <h2>Lockout</h2>
            </div>
            <div class="skill-card">
                <img src="asset/fuel.svg" alt="">
                <h2>Fuel Delivery</h2>
            </div>
            <div class="skill-card">
                <img src="asset/Flat tire.svg" alt="">
                <h2>Flat Tire</h2>
            </div>
            <div class="skill-card">
                <img src="asset/repair.svg" alt="">
                <h2>Minor Repair</h2>
            </div>
            <div class="skill-card">
                <img src="asset/tra assis.svg" alt="">
                <h2>Assistance</h2>
            </div>
            <div class="skill-card">
                <img src="asset/battery.svg" alt="">
                <center><h2>Battery change</h2></center>
            </div>
            <div class="skill-card">
                <img src="asset/hook-service.svg" alt="">
                <h2>Winching</h2>
            </div>
            <div class="skill-card">
                <img src="asset/battery1.svg" alt="">
                <h2>jump-start</h2>
            </div>
            <div class="skill-card">
                <img src="asset/linux-96.png" alt="">
                <h2>Emergency</h2>
            </div>
            <div class="skill-card">
                <img src="asset/mongodb.svg" alt="">
                <h2>MongoDB</h2>
            </div>
            <div class="skill-card">
                <img src="asset/mysql.svg" alt="">
                <h2>MySQL</h2>
            </div>
        </div>
    </section>
    <section class="portfolio" id="portfolio-loc">
        <h1>Services</h1>
        <div class="portfolio-cards">
            <div class="portfolio-card">
                <img src="asset/tow ser.jpg" alt="">
                <div class="overlay">
                    <h3>Towing</h3>
                    <p> If your vehicle cannot be repaired on the spot, a breakdown service will arrange for a tow truck to transport your vehicle to a repair shop or a safe location.</p>
                </div>
            </div>
            <div class="portfolio-card">
                <img src="asset/fuell.jpg" alt="">
                <div class="overlay">
                    <h3>Fuel Delivery</h3>
                    <p>If you run out of fuel while driving, the service can deliver a small amount of fuel to your location, allowing you to reach the nearest gas station.</p>
                </div>
            </div>
            <div class="portfolio-card">
                <img src="asset/jum.jpg" alt="">
                <div class="overlay">
                    <h3>Jump-Starting</h3>
                    <p>If your vehicle's battery is dead, a service technician can jump-start your car using jumper cables to get it running again.</p>
                                </div>
            </div>
            <div class="portfolio-card">
                <img src="asset/images/warren-umoh-K7M7dQO-HrA-unsplash.jpg" alt="">
                <div class="overlay">
                    <h3>Accident Assistance</h3>
                    <p>In the event of an accident, some breakdown services can help coordinate with emergency responders and towing services.</p>
                </div>
            </div>
            <div class="portfolio-card">
                <img src="asset/images/warren-umoh-pnMjGMOs2Xw-unsplash.jpg" alt="">
                <div class="overlay">
                    <h3>LinkedIn Scrapper</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, laudantium!</p>
                </div>
            </div>
            <div class="portfolio-card">
                <img src="asset/images/warren-umoh-VL12rhr4mi0-unsplash.jpg" alt="">
                <div class="overlay">
                    <h3>YouTube Scrapper</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, laudantium!</p>
                </div>
            </div>
        </div>
    </section>
    <section class="contact-me" id="contact-loc">
        <h1>Contact Me</h1>
        <div class="contact">
            <div class="contact-card">
                <i class="ri-message-3-line"></i>
                <p>skygazer.com</p>
            </div>
            <div class="contact-card">
                <i class="ri-phone-line"></i>
                <p>1234567890</p>
            </div>
            <div class="contact-card">
                <i class="ri-map-pin-3-line"></i>
                <p>Coimbatore, India</p>
            </div>
        </div>
    </section>
    <script src="script.js"></script>
</body>

</html>